.Nav-Bar {
    background: rgb(244, 243, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Nav-Links {
    display: flex;
    justify-content: space-between;
}

.Nav-Link {
    margin: 2vmin;
    text-decoration: none;
    color: coral;
    font-size: larger;
    font-weight: 700;
}